{% extends "base_auth.html" %}

{% block content %}

<div class="card" style="width: 500px;">

    <h2 style="text-align:center;">➕ Add New Product</h2>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% set category, message = messages[-1] %}
    <div class="flash {{ category }}">
        {{ message }}
    </div>
  {% endif %}
{% endwith %}

    <form method="POST" action="/admin/add-item" enctype="multipart/form-data">

        <label>Product Name</label>
        <input type="text" name="name" placeholder="Enter product name" required>

        <label>Description</label>
        <textarea name="description" placeholder="Enter product description" required 
                  style="width:100%; padding:12px; border-radius:8px; border:1px solid #d1d5db; margin-bottom:15px;"></textarea>

        <label>Category</label>
        <input type="text" name="category" placeholder="e.g Electronics, Clothing" required>

        <label>Price (₹)</label>
        <input type="number" step="0.01" name="price" placeholder="Enter price" required>

        <label>Product Image</label>
        <input type="file" name="image" accept="image/*" required>

        <button class="btn" style="margin-top:10px;">Add Product</button>

    </form>

    <div class="back">
        <a href="/admin-dashboard">← Back to Dashboard</a>
    </div>

</div>

{% endblock %}