{% extends "base_auth.html" %}

{% block content %}

<h2>Reset Password</h2>

<!-- Flash Messages -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% set category, message = messages[-1] %}
    <div class="flash {{ category }}">
        {{ message }}
    </div>
  {% endif %}
{% endwith %}

<form method="POST">

<label>New Password</label> <input type="password" name="password" placeholder="Enter new password" required>

<label>Confirm Password</label> <input type="password" name="confirm_password" placeholder="Confirm password" required>

<button type="submit" class="btn-primary">Reset Password</button>

</form>

<div class="section" style="text-align:center; margin-top:12px;">
  <a href="{{ url_for('user_login') if role == 'user' else url_for('admin_login') }}" 
     style="font-size:13px; color:#2563eb; text-decoration:none;">
    Back to Login
  </a>
</div>

{% endblock %}
